1-	Bir liste içindeki sayıların karelerini alarak yeni bir liste oluşturun.
[1,2,3,4,5,6,7,8,9,10]

In [4]:
liste = [1,2,3,4,5,6,7,8,9,10]
new_list = []
for num in liste:
    new_list.append(num**2)

new_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

2-	İç içe for döngüleri kullanarak 1’den 10’a kadar olan sayıların çarpım tablosunu oluşturan bir program yazın. Her sayının 1’den 10’a kadar olan çarpımlarını ekrana yazdırın. Çıktı düzenli ve okunaklı olmalıdır.

In [7]:
for i in range(1,11):
    for j in range(1,11):
        print("{} * {} = {}".format(i,j,(i*j)))
        if j == 10:
            print("----------------------")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
----------------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
----------------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
----------------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
----------------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
----------------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
----------------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
----------------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
----------------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
----------------------
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
----------------------

3-	Bilgisayarın 1-100 arasında rastgele tuttuğu bir sayıyı kullanıcının tahmin etmeye çalıştığı bir program yazın. Kullanıcıya ipucu verin( daha büyük/daha küçük), maksimum 10 deneme hakkı tanıyın, doğru tahminde oyunu sonlandırın.

In [8]:
import random

num = int(input("Enter a number between 1 and 100"))
predict = random.randint(1, 100)
count = 0
while count < 10:
    if num == predict:
        print("You are win")
        break
    elif num < predict:
        print("Your number is smaller than predict")
        num = int(input("Enter your new number"))
        continue
    elif num > predict:
        print("Your number is bigger than predict")
        num = int(input("Enter your new number"))
        continue
    count += 1

Your number is smaller than predict
Your number is bigger than predict
Your number is smaller than predict
Your number is smaller than predict
Your number is smaller than predict
You are win

4-	Kullanıcıdan 10 adet sayı alan ve bu sayılardan sadece tek olanların toplamını hesaplayan bir program yazın. Her tek sayı eklendiğinde bilgi mesajı versin, sonunda tek sayıların toplamını göstersin. (İpucu: Çift sayıları continue komutu ile atlayabilirsiniz.)

In [11]:
sayilar = []  # Boş bir liste oluştur
sum = 0
for i in range(10):
    sayi = int(input(f"{i+1}. sayıyı gir: "))
    if sayi % 2 == 0:
        continue
    else:
        print("{} is odd number".format(sayi))
        sum += sayi
print(sayi)

1 is odd number
3 is odd number
7 is odd number
9 is odd number
22

5-	Verilen 2 listeyi zip fonksiyonu ile birleştirerek index ve değerleri birlikte yazdırın.

[“Ali”, ”Ayşe”, ”Mehmet”, ”Zeynep”]

[25, 30, 35, 28]

In [14]:
names = ["Ali", "Ayşe", "Mehmet", "Zeynep"]
numbers = [25, 30, 35, 28]
for index, name in zip(numbers,names):
    print("{} - {}".format(index,name))

25 - Ali
30 - Ayşe
35 - Mehmet
28 - Zeynep

6-	Range fonksiyonunu kullanarak;

a)	1’den 100’e kadar olan çift sayıların toplamını bulun.

b)	50’den geriye doğru 40’a kadar olan sayıları yazdırın.

In [15]:
sum = 0
for i in range(1,100):
    if i % 2 == 0:
        sum += i
print("Even numbers of sum {}".format(sum))

Even numbers of sum 2450

In [17]:
for i in range(50,40,-1):
    print(i)

50
49
48
47
46
45
44
43
42
41